[Desktop Entry]
Name=TeleForge Desktop
Comment=Desktop version of TeleForge
TryExec=TeleForge
Exec=env DESKTOPINTEGRATION=1 TeleForge -- %U
Icon=com.teleforge.desktop
Terminal=false
StartupWMClass=TeleForge
Type=Application
Categories=Chat;Network;InstantMessaging;Qt;
MimeType=x-scheme-handler/tg;x-scheme-handler/tonsite;
Keywords=tg;chat;im;messaging;messenger;sms;telegram;tdesktop;
Actions=quit;
DBusActivatable=true
SingleMainWindow=true
X-GNOME-UsesNotifications=true
X-GNOME-SingleWindow=true

[Desktop Action quit]
Exec=TeleForge -quit
Name=Quit TeleForge
Icon=application-exit
