[Desktop Entry]
Version=1.0
Name=Telegreat
Comment=Make Telegram Great Again
Exec=telegreat -- %u
Icon=telegreat
Terminal=false
StartupWMClass=Telegreat
Type=Application
Categories=Network;InstantMessaging;Qt;
MimeType=x-scheme-handler/tg;
