BasedOnStyle: Google
Language: Cpp
AlignTrailingComments: true
AccessModifierOffset: -2
AlignAfterOpenBracket: AlwaysBreak
AllowShortFunctionsOnASingleLine: All
BinPackArguments: false
BreakBeforeBraces: Attach
BreakConstructorInitializers: BeforeComma
ColumnLimit: 100
CompactNamespaces: false
IndentWidth: 4
NamespaceIndentation: None
PointerAlignment: Left
SortIncludes: false
SpaceAfterTemplateKeyword: false
SpaceInEmptyParentheses: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: ControlStatements
