/out/
/Debug/
/Release/
/Deploy/
/ThirdParty/
/Telegram/build/target
/Telegram/GeneratedFiles/
/Telegram/SourceFiles/art/grid.png
/Telegram/SourceFiles/art/grid_125x.png
/Telegram/SourceFiles/art/grid_150x.png
/Telegram/SourceFiles/art/grid_200x.png
/Telegram/SourceFiles/art/sprite_125x.png
/Telegram/SourceFiles/art/sprite_150x.png
/Telegram/Resources/art/grid.png
/Telegram/Resources/art/grid_125x.png
/Telegram/Resources/art/grid_150x.png
/Telegram/Resources/art/grid_200x.png
/Telegram/Resources/art/sprite_125x.png
/Telegram/Resources/art/sprite_150x.png
/Telegram/Debug/
/Telegram/Release/
/Telegram/tests/
/Telegram/gyp/tests/*.test
/Telegram/out/
/Telegram/*.user
*.vcxproj*
*.sln
*.suo
*.sdf
*.opensdf
*.opendb
*.VC.db
*.aps
*.xcodeproj
/Win32/
ipch/
.vs/

/Telegram/log.txt
/Telegram/data
/Telegram/data_config
/Telegram/DebugLogs/
/Telegram/tdata/
/Telegram/tdumps/

.DS_Store
._*
.qmake.stash
/Mac/
project.xcworkspace
xcuserdata

parts
prime
stage
*.snap
.snapcraft
/snap/gui/*.png
/snap/gui/*.desktop
/snap/plugins/__pycache__

/Telegram/*.user.*
*.pro.user
/Linux/
/Telegram/Makefile
*.*~
