/Telegram/GeneratedFiles/
/Telegram/SourceFiles/art/grid.png
/Telegram/SourceFiles/art/grid_125x.png
/Telegram/SourceFiles/art/grid_150x.png
/Telegram/SourceFiles/art/grid_200x.png
/Telegram/SourceFiles/art/sprite_125x.png
/Telegram/SourceFiles/art/sprite_150x.png
/Telegram/*.user
*.suo
*.sdf
*.opensdf
/Telegram/*.aps
/Win32/
ipch/

/Telegram/log.txt
/Telegram/data
/Telegram/data_config
/Telegram/DebugLogs/
/Telegram/tdata/
/Telegram/tdumps/

.DS_Store
.qmake.stash
/Mac/
/Telegram/*.xcodeproj/xcuserdata/
/Telegram/*.xcodeproj/project.xcworkspace/
