[submodule "Telegram/ThirdParty/libtgvoip"]
	path = Telegram/ThirdParty/libtgvoip
	url = https://github.com/telegramdesktop/libtgvoip
[submodule "Telegram/ThirdParty/variant"]
	path = Telegram/ThirdParty/variant
	url = https://github.com/mapbox/variant
[submodule "Telegram/ThirdParty/GSL"]
	path = Telegram/ThirdParty/GSL
	url = https://github.com/Microsoft/GSL.git
[submodule "Telegram/ThirdParty/Catch"]
	path = Telegram/ThirdParty/Catch
	url = https://github.com/philsquared/Catch
[submodule "Telegram/ThirdParty/crl"]
	path = Telegram/ThirdParty/crl
	url = https://github.com/telegramdesktop/crl.git
[submodule "Telegram/ThirdParty/xxHash"]
	path = Telegram/ThirdParty/xxHash
	url = https://github.com/Cyan4973/xxHash.git
