<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string>@output_name@</string>
	<key>CFBundleGetInfoString</key>
	<string>Telegram Desktop messaging app</string>
	<key>CFBundleIconFile</key>
	<string>Icon.icns</string>
	<key>CFBundleIconName</key>
	<string>Icon.icns</string>
	<key>CFBundleIdentifier</key>
	<string>@bundle_identifier_plist@</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>@desktop_app_version_string@</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLIconFile</key>
			<string>Icon.icns</string>
			<key>CFBundleURLName</key>
			<string>@bundle_identifier_plist@</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>tg</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>@desktop_app_version_string@</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.social-networking</string>
	<key>LSMinimumSystemVersion</key>
	<string>@CMAKE_OSX_DEPLOYMENT_TARGET@</string>
	<key>LSFileQuarantineEnabled</key>
	<true/>
	<key>NOTE</key>
	<string></string>
	<key>NSMicrophoneUsageDescription</key>
	<string>We need access to your microphone so that you can record voice messages and make calls.</string>
	<key>NSCameraUsageDescription</key>
	<string>We need access to your camera so that you can record video messages and make video calls.</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSSupportsAutomaticGraphicsSwitching</key>
	<true/>
</dict>
</plist>
